<section class="panel">
    <header class="panel-heading">
        ADD NEW COURSE
    </header>
    <div class="panel-body">
        <form class="form-horizontal"  name="form" method="POST">
            <div class="form-group">
                <label class="col-sm-2 control-label">Title of course</label>
                <div class="col-sm-10">
                    <input type="text" id="title" value="{{ data.title }}" name="title" ng-model="data.title" required="" class="form-control" placeholder="Course Title">
                    <div>
                        <p ng-show="form.title.$error.required && form.title.$touched" class="help-block">You name is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Course Category</label>
                <div class="col-sm-10">
                    <select ng-model="data.category" name="category" id="category" required="" class="form-control input-sm m-bot15">
                        <option></option>
                        <option>Diploma</option>
                        <option>Undergraduate</option>
                        <option>Postgraduate</option>
                        <option>Company Training</option>
                    </select>
                    <div>
                        <p ng-show="form.category.$error.required && form.category.$touched" class="help-block">Category is required</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Course Image</label>
                <div class="col-sm-10">
                    <div class="btn btn-primary" name="file" id="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-select ng-model="data.file">Select File</div>
                    <% data.file.name %>
                </div>
            </div>


            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Course Details
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form action="#" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Full Details</label>
                                    <div class="col-sm-10">
                                        <textarea  class="form-control ckeditor" ng-model="data.description" required name="description" rows="12">{{ data.description }}</textarea>
                                    </div>
                                    <div>
                                        <p ng-show="form.description.$error.required && form.description.$touched" class="help-block">Details is required</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="data.agree" ng-checked="true" value="true" name="agree" required> By submitting this course, you are bound to have agreed to our <a href="#">Terms And Conditions</a>.
                    <p ng-show="form.agree.$error.required && form.agree.$touched" class="help-block">You have to agree to T&C.</p>
                </label>
            </div>

            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="create(data)">Submit</button>
        </form>
    </div>
</section>

