<section class="panel" ng-controller="FinishedController">
    <section class="panel-body" data-ng-show="!finished">
        <h1 class="text-center">Congratulations</h1>
        <p>You have successfully created a course. Please kindly note that your course shall be activated after
        it has been properly reviewed by the admin. Thanks</p>
        <button class="btn btn-primary btn-lg">View Course</button>
    </section>
</section>