<section class="panel">
    <header class="panel-heading">
        <button class="pull-right btn btn-default">Close</button>
        Create Quizzes
    </header>
    <section class="panel-body"  ng-controller="QuizController">
        <div>

            <h3>Chapter <% courseIndex %> - <% currentChapter %></h3>
            <h6>Topic <% topicIndex %> - <% currentTopic %></h6>

            <form>
            <section class="panel" data-ng-repeat="quiz in quizzes">
                <section class="panel-heading">Quiz 1</section>
                <section class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2">Question</label>
                    <div class="col-sm-10">
                    <textarea ng-model="quiz.question" rows="6" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Options</label>
                    <div class="col-sm-5">
                    <label>A</label>
                    <div><textarea ng-model="quiz.option" class="form-control"></textarea></div>
                    </div>
                    <div class="col-sm-5">
                    <label>B</label>
                    <div><textarea ng-model="quiz.option" class="form-control"></textarea></div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-5">
                    <label>C</label>
                    <div><textarea ng-model="quiz.option" class="form-control"></textarea></div>
                    </div>
                    <div class="col-sm-5">
                        <label>D</label>
                        <div><textarea ng-model="quiz.option" class="form-control"></textarea></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Answer</label>
                    <div class="col-sm-10">
                    <input class="form-control" ng-model="quiz.answer">
                    </div>
                </div>
                </section>
                <!-- /Form Repeated -->
            </section>

                <button type="submit" ng-click="add()"  class="btn btn-default">Add Quiz &raquo;</button>
                <button class="btn btn-default" data-ng-hide="!topicFinished" ng-click="nextTopic()">Next Topic</button>
                <button class="btn btn-default" data-ng-hide="finished && !topicFinished" ng-click="nextChapter()">Next Chapter</button>
                <button class="btn btn-default" ng-click="save()" data-ng-hide="!finished">Save</button>

            </form>

            <% quizzes %>

        </div>

        <div>
        </div>
    </section>
</section>
