<section class="panel" ng-controller="TopicController">
    <header class="panel-heading">
        <button class="pull-right btn btn-default">Close</button>
        Create Topic
    </header>
    <div class="panel-body">
        <div class="col-sm-10 col-sm-offset-2">
            <h4 style="text-transform: uppercase"><% chapters[chapter].title %></h4>
            <h5 style="text-transform: lowercase"><% chapters[chapter].description %></h5>
        </div>
        <section class="panel" data-ng-repeat="topic in topics">
            <div class="panel-heading">
                Topic <% $index + 1 %>
                <button ng-click="remove()" data-ng-show="$last" data-ng-hide="$first"  class="pull-right btn btn-default">Close</button>
            </div>
        <form class="form-horizontal" name="form" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Title of topic</label>
                <div class="col-sm-10">
                    <input type="text" id="title" name="title" ng-model="topic.title" required="" class="form-control" placeholder="Course Title">
                    <div>
                        <p ng-show="form.title.$error.required && form.title.$touched" class="help-block">You name is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Description of topic</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control ckeditor" ng-model="topic.description" required name="description" rows="6"></textarea>
                            </div>
                            <div>
                                <p ng-show="form.description.$error.required && form.description.$touched" class="help-block">Details is required</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Video Soruce</label>
                            <input type="text" class="form-control" ng-model="topic.video" required />
                            <!-- <input type="file" class="form-control"> -->
                        </div>
                    </form>
                </div>
            </div>
        </form>
        </section>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" ng-click="add()">Add Topic &raquo;</button>
        <button data-ng-hide="chapter == length" class="btn btn-default" ng-click="next()">Next Chapter &raquo;</button>
        <button data-ng-show="chapter == length" class="btn btn-default" ng-click="next()">Continue &raquo;</button>
    </div>
</section>

